= simple_form_for @entry, :html => { :class => 'form-horizontal' } do |f|
  = f.hidden_field :note_id, value: @note_id
  = f.hidden_field :author_id, value: @user_id
  = f.input :weather
  = f.input :date
  = f.input :body
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), entries_path, :class => 'btn'
